.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.152000px;}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:96.000000px;}
.y0{bottom:0.000000px;}
.y2{bottom:607.560000px;}
.y1{bottom:636.380000px;}
.h2{height:99.796875px;}
.h0{height:841.920000px;}
.h1{height:842.000000px;}
.w2{width:594.959991px;}
.w0{width:594.960000px;}
.w1{width:595.000000px;}
.x0{left:0.000000px;}
.x1{left:222.549991px;}
.x2{left:241.269991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1.536000pt;}
.fs0{font-size:128.000000pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:810.080000pt;}
.y1{bottom:848.506667pt;}
.h2{height:133.062500pt;}
.h0{height:1122.560000pt;}
.h1{height:1122.666667pt;}
.w2{width:793.279988pt;}
.w0{width:793.280000pt;}
.w1{width:793.333333pt;}
.x0{left:0.000000pt;}
.x1{left:296.733322pt;}
.x2{left:321.693322pt;}
}
